import React from 'react';
import PropTypes from 'prop-types';
import './{{pascalCase name}}.scss';

const {{pascalCase name}} = (props) => {
  const {} = props;
  return (
    <div className="{{pascalCase name}}">
      {{pascalCase name}}
    </div>
  );
};

{{pascalCase name}}.defaultProps = {

};

{{pascalCase name}}.propTypes = {

};

export default {{pascalCase name}};
